<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch Video</title>
</head>
<body>
    <video width="640" height="360" controls>
        <source src="{{ x.video_file.url }}" >
        Your browser does not support the video tag.
    </video>
    

    <h2>Comments:</h2>
    {% for comment in comments %}
        <p>{{ comment.user_name }}: {{ comment.text }}</p>
    {% endfor %}

    
</body>
</html>
